
h4{
	color: #d9d9d9;
}

h4, input{
    text-align: center;
}

#left{
    text-align: center;
    width: 24%;
    z-index: 1;
	padding-top: 1%;
    margin-top: -1%;
    left: 0;
    height: 100%;
    min-width: 200px;
    position: fixed;
    overflow: visible;
}

#right{
	margin-right:5%;
    text-align: center;
    width: 20.5%;
    z-index: 1;
	padding-top: 1%;
    margin-top: -1%;
    right: 0;
    height: 100%;
    min-width: 150px;
    position: fixed;
    overflow: visible;
}

#center{
	margin-top: -0.6%;
    margin-left: 26%;
    text-align: center;
    height: 80vh;
    width: 80vh;
    border: solid;
    background-color: #cccccc;
    position: fixed;
}

#myCanvas {
	background-color: white;
	background-size: 10% 10%;
	background-image: linear-gradient(to right, #bfbfbf 1px, transparent 1px), linear-gradient(to bottom, #bfbfbf 1px, transparent 1px);
}

.inputs{
    width: 15%;
}

.bar{
    -webkit-appearance: none;
    width: 75%;
    height: 10px;
    border-radius: 5px;
    background: #d3d3d3;
    outline: none;
}

.bar::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
	border-radius: 50%;
    width: 15px;
    height: 15px;
    background: #808080;
    cursor: pointer;
}

.boxes{
    text-align: center;
    width: 60%;
}

#picker{
	display: table;
	margin: 0 auto;
}

body {
    position: relative;
    background-color: #e6e6e6;
    background-size:cover;
    font-family: "Helvetica Neue", Arial, sans-serif;
	background-image: url("../images/bc.jpg");
}

.buttons {
    background-color: #6d6c6d;
    border: none;
    color: black;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
	width: 83px;
    margin: 4px 2px;
    cursor: pointer;
	border-radius: 10px;
	padding: 10px 24px;
}

.buttons:hover 
{
	background-color: #206d40c7; color: #d9d9d9;
	

  box-shadow: 0px 10px 10px rgba(128, 247, 174);
  
  -webkit-transform: rotateX(20deg);
     -moz-transform: rotateX(20deg);
      -ms-transform: rotateX(20deg);
          transform: rotateX(20deg);
	
}

#render {
	margin-top: 8%;

    border: none;
    color: black;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
	width: 175px;
    margin: 4px 2px;
    cursor: pointer;
	padding: 10px 24px;
}

#render:hover {background-color: #206d40c7; color: #d9d9d9;}

#screenSize {
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	margin-left: 25%;
	width: 50%;
	padding-bottom: 20px;
}

/* Modal Content */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}


.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 50%;
}

#loadingModal {
	text-align: center;
	padding:0;
    margin-top: 11%;
    margin-right: 3.7%;
    height: 100%;
    top: 70%;
}

#myModal1{
	display: none;
    position: fixed;
    z-index: 1;
	left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}

.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    text-decoration: none;
    cursor: pointer;
}

/* For Slider menu */
#sideNav a {
    position: absolute;
    left: -4%;
    transition: 0.3s;
    padding: 15px;
    width: 40px;
    text-decoration: none;
    font-size: 20px;
    color: white;
    border-radius: 0 5px 5px 0;
}


.hover:hover {
	margin-left: 2%;
	
}

#lightNav {
    background-color:#c1e90f;
    background-attachment: fixed;
    z-index: 10;
    overflow: auto;
    position: fixed;
}

#shapesNav {
    margin-top: 22%;
    background-color: #28cccff3;
    background-attachment: fixed;
    z-index: 10;
    overflow: auto;
    position: fixed;
}

#settingsNav {
    margin-top: 44%;
    background-color: #cf7928e0;
    background-attachment: fixed;
    z-index: 10;
    overflow: auto;
    position: fixed;
}

#lightDiv {
    position: absolute;
    left: -400%;
    transition:0.3s;
    -webkit-transition:0.3s;
    -moz-transition:0.3s;
    text-decoration: none;
    font-size: 20px;
    overflow: auto;
	padding-left: 30px;
	padding-right: 10px;
    background-color: rgba(8, 3, 3, 0.664);
    border-radius: 0 5px 5px 0;
    border:1px solid black;
    height: 70%;
}

#shapesDiv {
    position: absolute;
    left: -400%;
    transition:0.3s;
    -webkit-transition:0.3s;
    -moz-transition:0.3s;
    text-decoration: none;
    font-size: 20px;
    overflow: auto;
	padding-left: 30px;
	padding-right: 10px;
    border-radius: 0 5px 5px 0;
    border:1px solid black;
    background-color: rgba(8, 3, 3, 0.664);
    height: 75%;
}

#settingsDiv {
    position: relative;
    left: -400%;
    transition:0.3s;
    -webkit-transition:0.3s;
    -moz-transition:0.3s;
    text-decoration: none;
    font-size: 20px;
    overflow: auto;
    overflow-y: auto;
	padding-left: 30px;
	padding-right: 10px;
    background-color: rgba(8, 3, 3, 0.664);
    border-radius: 0 5px 5px 0;
    border:1px solid black;
    height: 70%;
}

/*image for drag and drop */
#dragImage{
	border-radius: 5px 5px 5px 5px;
	background-color:#ffaa80;
	padding:3px;
	padding-top: 13px;
	margin-left: 10px;
	
	
	
}
#dragImage:hover {
	background-color:#ff9966;
	
	
	
}



/* Style the buttons inside the tab */
.tab button {
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    transition: 0.3s;
    font-size: 17px;
	width:50%;
	height:100%;
}

/* Change background color of buttons on hover */
.tab button:hover {
    background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
    background-color: #ccc;
}

/* Style the tab */
.tab {
    position: relative;
    overflow: hidden;
    background-color: #f1f1f1;
    width:100%;
	height:7%;
}

.drop {
	width: 20%;
	height: 33%;
}

.loadingKati{
	width:35%;
}
